{% extends "shop/base.html" %}
{% block title %}Checkout | {{ block.super }}{% endblock %}

{% block content %}
<div class="container">

  <h1>Checkout</h1>

  <div class="order-info">
    <h3 class="text-primary">Your order</h3>
    <ul>
      {% for item in cart %}
      <li>
        {{ item.quantity }}x {{ item.product.name }}
        <span>${{  item.total_price|floatformat:2 }}</span>
      </li>
      {% endfor %}
      {% if cart.coupon %}
        <li>
          "{{ cart.coupon.code }}" ({{ cart.coupon.discount }}% off)
          <span class="text-danger">- ${{ cart.get_discount|floatformat:2 }}</span>
        </li>
      {% endif %}
    </ul>
    <p><strong>Total: ${{ cart.get_total_price_after_discount }}</strong></p>
  </div>

  <form class="order-form mb-5" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input class="btn btn-primary btn-block" type="submit" name="" value="Place order">
  </form>
</div>
{% endblock %}
