.product-detail img {
    width:40%;
    float:left;
    padding:0 20px 20px 0;
}

td{
  vertical-align: middle !important;
}

td form select{
  float:left;
  margin-right: 15px;

}

table.cart tbody tr td img{
  width:180px;
}
/* forms */
form p label {
    font-size:14px;
    padding-bottom:4px;
}

form p input {
    width:300px;
    font-size:13px;
    margin-bottom:10px;
    padding:10px 12px;
    border:0;
    background:#efefef;
    color:#666;
    border-radius:4px;
}



.order-form label{
  display:block
}


.order-form {
    float:left;
}

.order-info {
    float:right;
    width:300px;
    background:#efefef;
    padding:10px 20px;
    color:#333;
    border-bottom:4px solid #5993bb;
}

.order-info h3 {
    color:#5993bb;
}

.order-info ul li {
    margin:0;
    padding:0;
    font-size:14px;
}

.order-info p {
    font-weight:bold;
    float:right;
}

.order-info span {
    float:right;
}
