.product-detail img {
    width:40%;
    float:left;
    padding:0 20px 20px 0;
}

td{
  vertical-align: middle !important;
}

td form select{
  float:left;
  margin-right: 15px;
  
}

table.cart tbody tr td img{
  width:180px;
}
